div h1{
    background-image: url(/assets/img/luanda.webp);
}

.name-firma{
    line-height:45px;
}

.content{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    line-height: 35px;
}

.content span{
    font-size: 15px;
}

.column{
    margin:30px;
    background-color: aliceblue;
    height: 340px;
    border: solid 1px transparent;
    border-radius: 0 20% ;
    text-align: center;
}

.column h3{
    font-size: 25px;
    font-family: 'Shadows Into Light', cursive;
    margin-bottom: 10px;
    text-align: center;
}

.column img{
    width:400px;
    height: 200px;
    border-top-right-radius: 3%;
}

.column p{
    text-align: center;
    font-size: 15px;
    margin: auto 3px;
    line-height: 18px;
}

.column figcaption{
    font-size: 10px; 
    margin-bottom: 5px;
}



