div h1{
    background-image: url(/assets/img/luanda.webp);
}

.name-firma{
    line-height:45px;
}

.content p{
    padding-top: 15px;
}

.content span{
    font-size: 15px;
}

.column{
    background-color: aliceblue;
    border: solid 1px transparent;
    border-radius: 0 20% ;
    text-align: center;
}

.column h3{
    font-size: 25px;
    font-family: 'Shadows Into Light', cursive;
    margin-bottom: 10px;
    text-align: center;
}

.column figcaption{
    font-size: 13px; 
    margin-bottom: 5px;
}



