
.content{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    line-height: 35px;
}

.content span{
    font-size: 15px;
}

 .column{
    margin-top: 30px;
    background-color: aliceblue;
    height: 340px;
    border: solid 1px transparent;
    border-radius: 0 20% ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    margin:25px 6px auto;
}

.column h3{
    font-size: 25px;
    font-family: 'Shadows Into Light', cursive;
    margin-bottom: 10px;
    text-align: center;
}

.column p{
    text-align: center;
    font-size: 15px;
    margin: auto 3px;
    line-height: 18px;
}

.column img{
    width:255px ;
    height: 180px;
    border-top-right-radius: 3%;
}

.column figcaption{
    font-size: 9px; 
    margin-bottom: 5px;
}